@tailwind base;
@tailwind components;
@tailwind utilities;

.debug * {
  outline: 1px solid gold;
}

.main-block {
  @apply max-w-6xl mx-auto; 
}

.menu-item {
  @apply px-3 flex items-center font-light tracking-widest cursor-pointer;
}

.w-1280{
  width: 1280px;
}
.bg-mua-ngay {
  background-color: #2f373b;
}
.bg-top-menu {
  background-color: #4c4c4c;
}
.bg-btn-mua-ngay {
  background-color: #2283c1;
}
.bg-hero {
  background-color: #494f5b;
}

.text-hero {
  color: #f0f0f0;
}

.bg-btn-dangky {
  background-color: #383c43;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}